@model HMS.Models.AvailabilityModel

<h2>Availability</h2>
<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 animate-box">
                <h3>Confirm Booking</h3>
            </div>
            <div class="col-md-10 col-md-offset-1 animate-box">
                <form action="#" id="frmConfirmBooking">
                    @*<input type="hidden" name="PackId" value="@Model.PackId" />*@
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="fname">Check In Date</label>
                            <input type="text" id="FromDate" name="FromDate" class="form-control" placeholder="Check In Date" autocomplete="off">
                        </div>
                        <div class="col-md-6">
                            <label for="lname">Duration of Stay Nights</label>
                            <select id="Duration" name="Duration" class="form-control" placeholder="Duration of Stay Nights">
                                @for (int iNights = 1; iNights <= 10; iNights++)
                                {
                                    <option value="@iNights">@iNights</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="NoOfAdults">No of Adults</label>
                            <input type="number" id="NoOfAdults" name="NoOfAdults" class="form-control" value="1" min="1" max="10">
                        </div>
                        <div class="col-md-6">
                            <label for="NoOfAdults">No of Children</label>
                            <input type="number" id="NoOfChildren" name="NoOfChildren" class="form-control" value="0" min="0" max="10">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="fname">Guest Name</label>
                            <input type="text" id="Name" name="Name" class="form-control" placeholder="Guest Name">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" id="Email" name="Email" class="form-control" placeholder="Your email address">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="message">Add Special Notes</label>
                            <textarea name="Notes" id="Notes" cols="30" rows="10" class="form-control" placeholder="Add Special Notes"></textarea>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="button" id="btnBooking" value="Booking Confirm" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
