@model HMS.Areas.Dashboard.Models.RoleActionModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header" style="background-color : lightsteelblue; height : 60px;">
            <h5 class="modal-title">
                @if (!string.IsNullOrEmpty(Model.ID))
                { <span>Edit Role</span> }
                else
                { <span>Create Role</span> }
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="frmAction">
                <input type="hidden" name="ID" value="@Model.ID" />
                <div class="form-group">
                    <label>Role Name:</label>
                    <input class="form-control" name="Name" placeholder="Enter Role Name" value="@Model.Name">
                </div>
            </form>
            <div class="errMsg"></div>
        </div>
        <div class="modal-footer" style="background-color : lavender; height : 50px;">
            <button type="button" id="btnSave" class="btn btn-primary">
                <i class="fas fa-save mr-2"></i>Save
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                <i class="fas fa-times mr-2"></i>Close
            </button>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry! No records exist.
    </div>
}

<script>
    $("#btnSave").click(function(){
		$.ajax({
			url: '@Url.Action("Action", "Roles")',
            type: "post",
            data: $("#frmAction").serialize()
        }).done(function (resp) {
            if (resp.Success) window.location.href = "@Url.Action("Index", "Roles")";
            else $(".errMsg").html(resp.Message);
		});
	});
</script>
